<%- include("partials/header") %>

<h1>ORDER FOOD</h1>
<br><br>
<button class="btn btn-lg btn-block btn-dark" type="button"><a href="/tracker">ORDER FOOD</a></button>
<br><br>
<button class="btn btn-lg btn-block btn-dark" type="button"><a href="/logout">LOGOUT</a></button>


<%- include("partials/footer") %>
