<%- include("partials/header") %>

<section class="colored-section" id="title">

  <div class="container-fluid">

    <!-- Nav Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark">

      <a class="navbar-brand" href="">FoodHub</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cta">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
        </ul>

      </div>
    </nav>


    <!-- Title -->

    <div class="row">

      <div class="col-lg-6">
        <h1 class="big-heading">We are delivering food on doorstep.</h1>
        <!-- <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
        <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button> -->
      </div>

      <div class="col-lg-6">
        <img class="title-image" src="http://webdesignledger.com/wp-content/uploads/2014/06/18-food-mobile-app-designs.jpg" alt="food delivery icon">
      </div>

    </div>

  </div>

</section>


<!-- Features -->

<section class="white-section" id="features">

  <div class="container-fluid">

    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Order</h3>
        <p>order your food online.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3 class="feature-title">On-way</h3>
        <p>We deliver food within 30 minutes.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-heart fa-4x"></i>
        <h3 class="feature-title">Eat</h3>
        <p>Eat your delicious food</p>
      </div>
    </div>


  </div>
</section>


<!-- Testimonials -->

<section class="colored-section" id="testimonials">

  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <h2 class="testimonial-text">I love ordering from foodHub as they are best.</h2>
        <img class="testimonial-image" src="https://scontent.fccu7-1.fna.fbcdn.net/v/t1.0-9/91008913_2635371606787609_5605792581754552320_o.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=eezmQetlNHkAX-n84zn&_nc_ht=scontent.fccu7-1.fna&oh=af41c1c8f0ccf04bd70ab2faee0417bb&oe=5FBF3421" alt="dog-profile">
        <em>Debraj, mumbai</em>
      </div>
      <div class="carousel-item container-fluid">
        <h2 class="testimonial-text">They deliver order within given time.kudos to team👍👍👍👍👍👍</h2>
        <img class="testimonial-image" src="https://scontent.fccu7-1.fna.fbcdn.net/v/t1.0-9/20604476_1894574467533997_4043455609414599883_n.jpg?_nc_cat=111&ccb=2&_nc_sid=19026a&_nc_ohc=VFZ6DpAeWLcAX9PbFi6&_nc_ht=scontent.fccu7-1.fna&oh=c652cc74ef6d82944014a8fead90f90c&oe=5FBE782D" alt="lady-profile">
        <em>Manoj,Haryana</em>
      </div>
    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</section>


<!-- Press -->

<section class="colored-section" id="press">
  <img class="press-logo" src="https://tse3.mm.bing.net/th?id=OIP.JL6cNa6i48CPh0Uuk4eORQHaHa&pid=Api&P=0&w=300&h=300" alt="tc-logo">
  <img class="press-logo" src="https://tse1.mm.bing.net/th?id=OIP.TkBlmYOBAkC8OvHJdVmd3AHaFb&pid=Api&P=0&w=219&h=162" alt="tnw-logo">
  <img class="press-logo" src="https://tse2.mm.bing.net/th?id=OIP.aQCUnkhTfp_4DNialZYZsgAAAA&pid=Api&P=0&w=240&h=187" alt="biz-insider-logo">
  <img class="press-logo" src="https://tse4.mm.bing.net/th?id=OIP.pY2MkNP5uPTbxB2iSrPkPQAAAA&pid=Api&P=0&w=300&h=300" alt="mashable-logo">

</section>


<!-- Pricing -->

<section class="white-section" id="pricing">

  <h2 class="section-heading">Hungry order now.</h2>
  <p>we offer discount to customer.</p>

  <div class="row">

    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Chicken</h3>
        </div>
        <div class="card-body">
          <h2 class="price-text">Rs.100</h2>
          <p>Roasted chicken</p>
          <p>Chicken Biryani</p>
          <p>Tandoori Chicken</p>
          <button class="btn btn-lg btn-block btn-outline-dark" type="button">order now</button>
        </div>
      </div>
    </div>

    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Chinese food</h3>
        </div>
        <div class="card-body">
          <h2 class="price-text">Rs-200</h2>
          <p>Chowmein</p>
          <p>Momo</p>
          <p>Thukkpa</p>
          <button class="btn btn-lg btn-block btn-dark" type="button">Order now</button>
        </div>
      </div>
    </div>

    <div class="pricing-column col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3>Italian food</h3>
        </div>
        <div class="card-body">
          <h2 class="price-text">Rs-300</h2>
          <p>pasta</p>
          <p>pizza</p>
          <p>burger</p>
          <button class="btn btn-lg btn-block btn-dark" type="button">order now</button>

        </div>
      </div>
    </div>



  </div>

</section>


<!-- Call to Action -->

<section class="colored-section" id="cta">

  <div class="container-fluid">

    <h3 class="big-heading">order now on our andriod and ios app easily.</h3>
    <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-apple"></i> Download</button>
    <button class="download-button btn btn-lg brn-light" type="button"><i class="fab fa-google-play"></i> Download</button>
  </div>
</section>


<!-- Footer -->

<footer class="white-section" id="footer">
  <div class="container-fluid">
    <i class="social-icon fab fa-facebook-f"></i>
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-instagram"></i>
    <i class="social-icon fas fa-envelope"></i>
    <p>© Copyright 2020 FoodHub</p>
  </div>
</footer>



<%- include("partials/footer") %>
